@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root,
[data-bs-theme="light"] {
    --bs-primary: #1b1b1b;
    --bs-body-line-height: 1.1rem;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #1b1b1b;
    --bs-btn-border-color: #1b1b1b;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #000;
    --bs-btn-hover-border-color: #000;
    --bs-btn-focus-shadow-rgb: 156, 90, 255;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #6f31cc;
    --bs-btn-active-border-color: #682ebf;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(2, 6, 23, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #8b3dff;
    --bs-btn-disabled-border-color: #8b3dff;
}

body {
    font-family: "Inter", serif !important;
}

/* Preloader */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FDFDFD;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.5s ease;
    /* Desaparecimento suave */
}

#preloader img {
    width: 40%;
    /* Ajuste o tamanho do GIF conforme necessário */
}

.border-dashed {
    border-style: dashed !important;
    border-color: #d1d1d1 !important;
    border-radius: 20px;
}

.fontUpp {
    font-size: 12px;
    text-transform: uppercase;
}

/* Oculta o preloader */
#preloader.hidden {
    opacity: 0;
    visibility: hidden;
    transition: all 5s;
}

.bg-success {
    --bs-bg-opacity: 1;
    background-color: #5ecd76 !important;
}

.bg-danger {
    --bs-bg-opacity: 1;
    background-color: #E91E63 !important;
}

a {
    color: rgb(100 116 139);
    text-decoration: none;
}

main {
    padding: 55px 0 !important;
}

.descricao {
    font-size: 14px;
    display: block;
}

.from {
    text-decoration: line-through;
}

.to {
    font-weight: 700;
    color: #1b1b1b;
}

.item {
    border-radius: 10px;
    overflow: hidden;
}

.saldo {
    font-size: 16px;

}

.borda {
    content: "";
}

.borda::before {
    border: solid 1px #000;
}

.icones {
    background-color: #ffffff;
    /* padding: 12px; */
    border-radius: 40px;
    font-size: 27px;
    border: solid 1px #ffffff;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.saldo i {
    font-size: 19px;
}

.resumo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resumo span {
    font-size: 12px;
    font-weight: 800;
}

#resumo .owl-stage {
    left: -20px;
}

.escondeD {
    display: none;
}

.btnNovo {
    place-content: center;
    align-items: center;
    background-color: rgb(34, 34, 34);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0.706592px 0.706592px -0.625px,
        rgba(0, 0, 0, 0.145) 0px 1.80656px 1.80656px -1.25px,
        rgba(0, 0, 0, 0.137) 0px 3.62176px 3.62176px -1.875px,
        rgba(0, 0, 0, 0.125) 0px 6.8656px 6.8656px -2.5px,
        rgba(0, 0, 0, 0.106) 0px 13.6468px 13.6468px -3.125px,
        rgba(0, 0, 0, 0.05) 0px 30px 30px -3.75px;
    display: flex;
    flex: 0 0 auto;
    flex-flow: row;
    gap: 10px;
    height: 40px;
    overflow: visible;
    padding: 15px;
    position: relative;
    color: #fff;
    transition: 0.4s;
}

.iconeCompra {
    font-size: 26px;
    color: #65748b;
}

.btn:hover {
    background-color: #000;
    border-color: #000;
    color: var(--bs-btn-hover-color);
}

.masked {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

.icon {
    cursor: pointer;
    font-size: 24px;
    margin-left: 10px;
}

.subTitulosMenu {
    font-size: 8px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #848484;
}

.nav-account .nav-item .nav-link {
    background-color: transparent;
    border-radius: .5rem;
    color: var(--bs-gray-500);
    font-weight: 500;
    line-height: 1;
    padding: 12px 13px;
    transition: .2s ease-in-out;
}

.pill {
    background-color: #ffffff;
    padding: 10px;
    border: 1px #673AB7 dashed;
    border-radius: 30px;
    font-size: 12px;
}



@media (min-width: 992px) {
    .navbar-expand-lg .offcanvas .offcanvas-body {
        display: flex;
        flex-grow: 0;
        overflow-y: visible;
        padding: 0;
        justify-content: flex-end;
    }
}

@media (max-width: 992px) {
    .navbar .navbar-nav .nav-item .nav-link {
        border-bottom: 0px solid var(--bs-gray-200);
        border-radius: 0;
        padding: .75rem 0 !important;
    }
}

@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1460px;
    }
}

@media (max-width: 768px) {
    .bgBadgeM {
        width: 20px;
        height: 20px;
        font-size: 10px;
        /* padding: 10px; */
        margin-left: -13px;
        margin-top: 5px;

    }

    .navbar {
        background-color: #f7f8fa;
        box-shadow: 0 0.125rem 0.25rem rgba(2, 6, 23, 0);
    }

    .escondeD {
        display: block;
    }

    .descricao {
        display: none;
    }

    .h5,
    h5 {
        font-size: 0.79rem;
    }

    .block {
        display: none;
    }

    .h1,
    .h2,
    .h3,
    h1,
    h2,
    h3 {
        font-weight: 700;
        font-size: 1rem;
        letter-spacing: -0.03em;
    }

    .font16 {
        font-size: 1rem;
    }

    .g-4,
    .gy-4 {
        --bs-gutter-y: 1rem;
    }

    .from {

        font-size: 12px;
    }

    .line {
        text-decoration: line-through;
    }

    .to {
        font-size: 12px;
    }

    .h6,
    h6 {
        font-size: 0.7rem;
    }

    .saldo i {
        font-size: 17px;
    }

    .semFundo {
        background-color: #f9fafc !important;
    }

    .shadow-sm-semFundo {
        box-shadow: 0 0 0 0 !important;
    }

    .font16m {
        font-size: 1.8rem;
    }

    .saldom {
        font-size: 18px;
        font-weight: 600;
    }

    .navbar .navbar-toggler {
        border: 2px solid #0f172a00;
        color: var(--bs-dark);
        font-size: 1.5rem;
        padding: 0.25rem 0.5rem;
    }

    .saldo {
        font-size: 14px;
        font-weight: 800;
    }
}